# Module 11 Challenge
## Deliverable 1: Scrape Titles and Preview Text from Mars News

In [1]:
# Scraping
from splinter import Browser
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

# requests
import requests
import time

# parsing
from bs4 import BeautifulSoup

# data science
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
 # Open a Chrome window using Splinter
my_service = Service(executable_path=ChromeDriverManager().install())
browser = Browser('chrome', service=my_service)

### Step 1: Visit the Website

1. Use automated browsing to visit the [Mars news site](https://static.bc-edx.com/data/web/mars_news/index.html). Inspect the page to identify which elements to scrape.

      > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools.

In [5]:
# Visit the Mars news site
url = 'https://static.bc-edx.com/data/web/mars_news/index.html'
browser.visit(url)

### Step 2: Scrape the Website

Create a Beautiful Soup object and use it to extract text elements from the website.

In [7]:
# Save the HTML from the browser
html = browser.html

# Create a BeautifulSoup object from the HTML
soup = BeautifulSoup(html, 'html.parser')

In [15]:
# Extract all the text elements
parent_container = soup.find("div", {"id":"news"})
articles = parent_container.find_all("div", {"class": "row"})
print(len(articles))

15

### Step 3: Store the Results

Extract the titles and preview text of the news articles that you scraped. Store the scraping results in Python data structures as follows:

* Store each title-and-preview pair in a Python dictionary. And, give each dictionary two keys: `title` and `preview`. An example is the following:

  ```python
  {'title': "NASA's MAVEN Observes Martian Light Show Caused by Major Solar Storm", 
   'preview': "For the first time in its eight years orbiting Mars, NASA’s MAVEN mission witnessed two different types of ultraviolet aurorae simultaneously, the result of solar storms that began on Aug. 27."
  }
  ```

* Store all the dictionaries in a Python list.

* Print the list in your notebook.

In [22]:
article = articles[0]
article

<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="images/9299_maven-vertical-limb-320x240.jpeg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">November 9, 2022</div>
<div class="content_title">NASA's MAVEN Observes Martian Light Show Caused by Major Solar Storm</div>
<div class="article_teaser_body">For the first time in its eight years orbiting Mars, NASA’s MAVEN mission witnessed two different types of ultraviolet aurorae simultaneously, the result of solar storms that began on Aug. 27.</div>
</div>
</div>
</div>

In [26]:
# Create an empty list to store the dictionaries
rows = []

In [32]:
# Loop through the text elements
# Extract the title and preview text from the elements
# Store each title and preview pair in a dictionary
# Add the dictionary to the list
for article in articles:
    # Get Info
    title = article.find("div", {"class": "content_title"}).text
    preview = article.find("div", {"class": "article_teaser_body"}).text

    # Make the Row
    row = {
        "title": title,
        "preview": preview,
    }

    rows.append(row)

df = pd.DataFrame(rows)
df.head()

,title,preview
0,NASA's MAVEN Observes Martian Light Show Cause...,For the first time in its eight years orbiting...
1,NASA's MAVEN Observes Martian Light Show Cause...,For the first time in its eight years orbiting...
2,NASA's MAVEN Observes Martian Light Show Cause...,For the first time in its eight years orbiting...
3,NASA's MAVEN Observes Martian Light Show Cause...,For the first time in its eight years orbiting...
4,NASA's MAVEN Observes Martian Light Show Cause...,For the first time in its eight years orbiting...

In [34]:
# Print the list to confirm success
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    45 non-null     object
 1   preview  45 non-null     object
dtypes: object(2)
memory usage: 852.0+ bytes

In [36]:
browser.quit()